
.cell
  position relative
  width 64px
  height 64px
  font-size 32px
  transition color .3s ease
  background-color white
  margin-right 6px
  box-sizing border-box
  align-items: center
  display flex
  justify-content center
  border 1px solid black
  background-color white
  will-change transform

.row
  display flex
  flex-direction row