*
  cursor crosshair 
.control
  position fixed
  width 300px
  height 200px
  top 10px
  left 10px
  textarea
    width 500px
    height 270px
    opacity 0.8
    font-size 20Px

.line
  stroke-width 4
  fill none

.draw
  background-color rgba(0,0,0, 1)
  position fixed
  top 0
  left 0
  z-index -1

.domain
  stroke white
.tick
  line
    stroke white
  text
    fill white
  